.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .u-image-1 {
  width: 1124px;
  height: 633px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: -428px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 100px 217px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 530px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -325px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 406px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -201px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 305px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 275px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 192px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
  }
}